<div class="container">
  <div class="container">
    <div class="card">
      <div class="card-header">
        Cadastrar Usuário
      </div>

      <div class="card-body">
        <form [formGroup]="userFormGroup">
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label">Nome</label>
                <input type="text" formControlName="fullName" class="form-control" />
              </div>
            </div>
          </div>

          <div class="form-outline mb-4">
            <div class="row justify-content-start">
              <div class="col-3">
                <label class="form-label">Data de Nascimento</label>
                <input type="date" formControlName="birthDate" class="form-control" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-outline mb-4">
                <label class="form-label">Email</label>
                <input type="text" formControlName="email" class="form-control" />
              </div>
            </div>

            <div class="col">
              <div class="form-outline mb-4">
                <label class="form-label">Senha</label>
                <input type="email" formControlName="password" class="form-control" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-outline mb-4">
                <select formControlName="role" class="form-select">
                  <option value="1">Tipo de Usuario</option>
                  <option value="Freelance">Freelance</option>
                  <option value="Empresa">Empresa</option>
                </select>
              </div>
            </div>

            <div class="col">
              <div class="form-outline mb-4">
                <select formControlName="skills" class="form-select">
                  <option value="1">Skills</option>
                  <option value="C#">C#</option>
                  <option value="Python">Python</option>
                  <option value="Java">Java</option>
                </select>
              </div>
            </div>
          </div>

          <div class="justify-content-start">
            <button type="submit" class="btn btn-primary btn-block" (click)="createAccount()">Criar Conta</button>
            <button type="submit" class="btn btn-primary btn-block ms-2">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
