<div class="container">
  <div class="container">
    <div class="card">
      <div class="card-header">
        Cadastrar Usuário
      </div>
  
      <div class="card-body">
        <form>
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label">Nome</label>
                <input type="text" class="form-control" />          
              </div>        
            </div>
          </div>
      
          <div class="form-outline mb-4">
            <div class="row justify-content-start">
              <div class="col-3">
                <label class="form-label">Data de Nascimento</label>
                <input type="date" class="form-control" />
              </div>
            </div>
          </div>
      
          <div class="row">
            <div class="col">
              <div class="form-outline mb-4">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" />      
              </div>
            </div>
      
            <div class="col">
              <div class="form-outline mb-4">
                <label class="form-label">Senha</label>
                <input type="email" class="form-control" />      
              </div>
            </div>
          </div>      
      
          <div class="row">
            <div class="col">
              <div class="form-outline mb-4">
                <select class="form-select">
                  <option value="1">Tipo de Usuario</option>
                  <option value="3">Freelance</option>
                  <option value="4">Empresa</option>
                </select>
              </div>
            </div>
      
            <div class="col">    
              <div class="form-outline mb-4">
                <select class="form-select">
                  <option value="1">Skills</option>
                  <option value="3">C#</option>
                  <option value="4">Pythn</option>
                  <option value="2">Java</option>
                </select>
              </div>
            </div>
          </div> 
      
          <div class="justify-content-start">
            <button type="submit" class="btn btn-primary btn-block">Criar Conta</button>
            <button type="submit" class="btn btn-primary btn-block ms-2">Cancelar</button>      
          </div>    
        </form>
      </div>    
    </div>  
  </div>
  
  
</div>